<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
      <pipelines>
          <!-- Apply Rendering Parameter Rules for personalization conditions -->
          <mvc.customizeRendering patch:source="Sitecore.MvcAnalytics.config">
              <processor patch:instead="processor[@type='Sitecore.Mvc.Analytics.Pipelines.Response.CustomizeRendering.Personalize, Sitecore.Mvc.Analytics']"
                         type="Community.Foundation.ConditionalParameters.Pipelines.CustomizeRendering.PersonalizeParametersToo, Community.Foundation.ConditionalParameters"/>
              <processor patch:instead="processor[@type='Sitecore.ContentTesting.Mvc.Pipelines.Response.CustomizeRendering.SelectVariation, Sitecore.ContentTesting.Mvc']"
                         type="Community.Foundation.ConditionalParameters.Pipelines.CustomizeRendering.SelectVariationParametersToo, Community.Foundation.ConditionalParameters"/>
          </mvc.customizeRendering>
          <!-- Apply Rendering Parameter Rules for personalization conditions in Experience Editor -->
          <executePageEditorAction>
              <processor patch:instead="processor[@type='Sitecore.Analytics.Pipelines.ExecutePageEditorAction.ActivateCondition, Sitecore.ExperienceEditor']"
                         type="Community.Foundation.ConditionalParameters.Pipelines.ExecutePageEditorAction.ActivateConditionParametersToo, Community.Foundation.ConditionalParameters"/>
          </executePageEditorAction>

      </pipelines>
  </sitecore>
</configuration>